body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
}
.container-index-1>*,
.container-index-2>*,
.container-income-expense > * {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 1.2rem;
    border-radius: 1.2rem;
    background-color: #ffffff;
    color: #212121;
    text-decoration: none;
}

/*NAV BAR*/
.nav-bar{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  text-align: center;
  padding: 20px 0;
  font-size: 2.5rem;
  text-decoration: none;
}
.fa-home-alt:before, .fa-home-lg-alt:before, .fa-home:before, .fa-house:before {
  color: rgb(16, 31, 60);
}
.fa-circle-plus:before, .fa-plus-circle:before{
  color: #4CAF50;
}

/*LISTS*/
#list > *{
  display: grid;
  grid-template-columns: 30% 10%  20% auto;
  grid-template-rows: auto;
  gap: 20px;
}
#list-index > * {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 4px;
  text-align: left;
}
#list-index{
padding: 1rem;
}

/*INDEX PAGE*/
.container-index-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 20px;
  background-color: #45494b;
  border-radius: 1.2rem;
}
.container-index-2 {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  background-color: rgb(16, 31, 60);
  border-radius: 1.2rem;
  gap: 20px;
  padding: 20px;
}
.container-index-1 > *:hover {
  background-color: rgb(190, 219, 247);
}
#myChart{
  width:100%;
  max-width:100%;
}

/*INCOME EXPENSE*/
.container-income-expense {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  background-color: rgb(16, 31, 60);
  border-radius: 1.2rem;
  gap: 20px;
  padding: 20px;
}

/* BUTTONS */
.fa-circle-plus {
  cursor: pointer;
}
#list{
  list-style: none;
}
#list > * {
  margin: 1rem;
}
.deleteTask {
  display: inline-block;
  padding: 15px 25px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
}
.deleteTask:hover {
  background-color: #3e8e41
}
.deleteTask:active {
  background-color: #3e8e41;
  transform: translateY(4px);
  box-shadow: 0 5px #666;
}

/* Form - Expenses & Income */
#popup {
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(50, 50, 50, 0.9);
}
#form {
  position: absolute;
  background-color: #6b7991;
  border: 1px solid #212121;
  border-radius: 10px;
  padding: 30px;
  margin-left: -150px;
  width: 300px;
  left: 50%;
  top: 25%;
}
input {
  width: 100%;
  margin-bottom: 20px;
}
#close {
  position: absolute;
  font-weight: bold;
  margin-left: 139px;
  margin-top: -19px;
  width: 30px;
  height: 27px;
  background-color: #3f8441;
  border-radius: 4px; 
}
.cont {
  background-color: #e3f2fd;
  border-radius: 2px;
  padding: 20px 50px;
  width: 350px;
  margin: 10px auto 10px auto;
  text-align: left;
  overflow: auto;
}
