* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .8rem;
}
main{
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
}
.nav-bar-index>*,
.container-index-2>*,
.container-income-expense > * {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 1.2rem;
    border-radius: 1.2rem;
    color: #212121;
    text-decoration: none;
}

/*NAV BAR INCOME & EXPENSES*/
.nav-bar-general{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  text-align: center;
  padding: 20px 0;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: #45494b;
  margin-bottom: 1rem;
  border-radius: 1.2rem;
}
.nav-bar-general > a {
  padding: 0 auto;
}
.fa-home-alt:before, .fa-home-lg-alt:before, .fa-home:before, .fa-house:before {
  color: #ffffff;
}
.fa-circle-plus:before, .fa-plus-circle:before{
  color: #4CAF50;
}
.main-container{
  display: grid;
  grid-template-rows: auto;
}

.main-container > *{
  margin: 0 auto;
  padding: .8rem;
}

/*LISTS*/

#list-index{
padding: 1rem;
}

/*INDEX PAGE*/
.nav-bar-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 20px;
  background-color: #45494b;
  border-radius: 1.2rem;
}
.container-index-2 {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  background-color: rgb(16, 31, 60);
  border-radius: 1.2rem;
  gap: 20px;
  padding: 20px;
}
.nav-bar-index > *:hover {
  background-color: rgb(190, 219, 247);
}
#myChart{
  width:100%;
  max-width:100%;
}

/*INCOME EXPENSE*/
.container-income-expense {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  background-color: rgb(16, 31, 60);
  border-radius: 1.2rem;
  gap: 20px;
  padding: 20px;
}
.subtitle{
  font-size: 1rem;
}

/* BUTTONS */
.fa-circle-plus {
  cursor: pointer;
}
#list{
  list-style: none;
}
#list > * {
  margin: 1rem;
}
.deleteTask, .new-record {
  display: inline-block;
  padding: 15px 25px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  margin: 0rem;
  padding: .5rem;
  margin:.1rem;
}
.deleteTask:hover, .new-record:hover {
  background-color: #3e8e41
}
.deleteTask:active, .new-record:active {
  background-color: #3e8e41;
  transform: translateY(4px);
  box-shadow: 0 5px #666;
}
.new-record{
  font-weight: bold;
}

/* Form - Expenses & Income */
#popup {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(30, 30, 30, 0.9);
}
#form {
  background-color: rgba(220, 220, 220, 0.81);
  border-radius: 30px;
  padding: 3rem;
  margin:5rem auto auto auto;
  width: 280px;
}

input, select {
  width: 100%;
  font-size: 1.2rem;
  padding-bottom: .1rem;
  margin-bottom: 1rem;
}
label{
  font-size: 1.4rem;
  margin: 1;
}
.button-close{
  margin: auto auto 2rem auto;
}
.button-add{
  margin: 3rem auto auto auto;
}
#close, #addIncome, #addExpense {
  box-shadow: 0 3px #999;
  border: none;
  text-decoration: none;
  outline: none;
  font-size: 1rem;
  border-radius: 15px; 
  padding: .5rem;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin:0;
}
 #close{
  background-color: rgb(11, 51, 145);
 }
 #addIncome, #addExpense{
  background-color: #3e8e41;

 }
.cont {
  background-color: #e3f2fd;
  border-radius: 2px;
  padding: 20px 50px;
  width: 350px;
  margin: 10px auto 10px auto;
  text-align: left;
  overflow: auto;
}

@media only screen and (min-width: 37.5em) {
/* Form - Expenses & Income */
* {
  font-size: 1rem;
}

}